= form_for @user do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  - if current_user.admin?
    .field-checkbox
      = f.check_box :admin
      = f.label :admin
  .field
    = f.label :password
    = f.text_field :password
    - @user.errors.full_messages_for(:password).each do |error|
      %span= error
  .field
    = f.label :password_confirmation
    = f.text_field :password_confirmation, autocomplete: "new-password"
    - @user.errors.full_messages_for(:password_confirmation).each do |error|
      %span= error
  .actions
    = link_to users_path do
      = icon 'fas', 'arrow-left'
    - if action_name == 'edit'
      = link_to t('verbs.show'), @user, class: 'button secondary'
    = f.submit t('verbs.save'), class: 'primary'
