%section#user
  %header.title
    %h2.text-title Usuários
  %ul.gallery
    - @users.each do |user|
      %li.container.elevated
        %h3.name= user.name
        %span.admin= t("attributes.admin.#{user.admin?}")
        %p.email= user.email
        = link_to t("verbs.edit"), edit_user_path(user), class: 'edit'
        = link_to t('verbs.show'), user, class: 'show'

