.main-container.elevated-high#auth
  %h2.text-lead.title Esqueceu sua senha?
  %p.explanation Iremos enviar um email com um link para redefinir sua senha
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"
    .actions
      = f.submit "Enviar", class: 'primary'
      = render "devise/shared/links"
