.main-container.elevated-high
  %h2.text-lead#cta Insira suas credenciais
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, 'E-mail'
      = f.email_field :email, autocomplete: 'email'
    .field
      = f.label :password, 'Senha'
      = f.password_field :password, autocomplete: 'current-password'
    .actions
      = f.submit 'Log in', class: 'primary'
  = render 'devise/shared/links'
