%section{form_section(active)}
	= form.object.inspect
	= form.input :nome
	= form.input :cpf, placeholder: 'XXX.XXX.XXX-XX'
	= form.input :responsavel_nome
	= form.input :responsavel_cpf, placeholder: 'XXX.XXX.XXX-XX'
	= form.input :genero, as: :radio_buttons, collection: %i[masculino feminino outro nao_declarado]
	= form.input :raca, as: :radio_buttons, collection: %i[branco preto pardo indigena asiatico outro nao_declarado]
	= form.input :telefone, placeholder: '(XX) xXXXX-XXXX'
	= form.input :endereco_rua
	= form.input :endereco_numero
	= form.input :endereco_complemento
	= form.input :endereco_cep, placeholder: 'XXXXX-XXX'
	= form.input :endereco_bairro
	= form.input :endereco_cidade