%section{form_section(active)}
  = form.object.inspect
  = form.input :cadastro_digital, as: :radio_buttons, collection: %i[sim nao apenas_acesso]
  = form.input :cadastro_dificuldades, as: :radio_buttons, collection: %i[sim parcialmente nao]
  = form.input :cadastro_dias
  = form.input :cadastro_tempo, collection: Array(1..10).map(&:to_s).map(&:to_sym)
  = form.input :concorda_acordo_valores, as: :radio_buttons, collection: %i[sim parcialmente nao]
  = form.input :concorda_acordo_comentario, as: :text
  = form.input :pagamento_realizado, as: :radio_buttons, collection: %i[true false]