#form
  %header
    %section.title
      %picture
        %source{ type: 'image/webp', srcset: image_path('banner.webp') }
        %source{ type: 'image/png',srcset: image_path('banner.png') }
        %img{ src: image_path('banner.png'), alt: 'Banner da Plataforma Áporo' }
      %h1
        Pesquisa sobre cumprimento de Acordo
        %br
        Macacos, MG
    = render 'form_intro' if @form_answer.page.zero?
  = simple_form_for @form_answer, url: '/formulario', remote: false,
    data: { controller: 'form-nav' }, html: { autocomplete: 'off' } do |f|
    = f.hidden_field :page, { data: { target: 'form-nav.page' }}
    = render partial: 'form_0', locals: { form: f, active: active_section(0) }
    = render partial: 'form_1', locals: { form: f, active: active_section(1) }
    = render partial: 'form_2', locals: { form: f, active: active_section(2) }
    = render partial: 'form_3', locals: { form: f, active: active_section(3) }
    = render partial: 'form_4', locals: { form: f, active: active_section(4) }
    = render partial: 'form_5', locals: { form: f, active: active_section(5) }
    .actions
      %button{ data: { action: 'form-nav#back' }, disabled: @form_answer.page.zero? }
        Voltar
      - if @form_answer.page < 5
        = f.submit 'Avançar'
      - else
        = f.submit 'Finalizar'
